<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tomlettuces.user">
    <application>
        <activity
                android:name="com.tomlettuces.user.LoginActivity"
                android:launchMode="singleTop"
        />
    </application>
</manifest>
